Terraform Files/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_amd64/terraform-provider-azurerm_v2.99.0_x5.exe
Terraform Files/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.99.0/windows_amd64/terraform-provider-azurerm_v3.99.0_x5.exe
Terraform Files/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.1/windows_amd64/terraform-provider-random_v3.6.1_x5.exe
Terraform Files/.terraform.lock.hcl
.vscode/settings.json
.vscode